button {
    margin-top: 1.5rem;
    padding: 0.5rem 1.1rem;
    font-size: 0.9rem;
    background-color: transparent;
    color: $grayLight;
    border: 1px solid $grayLight;
    border-radius: 3px;
    transition: 1s;
}

button:hover {
    cursor: pointer;
    background-color: $buttonGallery;
    transition: 1s;
}