.btn {
    text-decoration: none;
    padding: 0.5rem 1.1rem;
    font-size: 0.9rem;
    color: $grayLight;
    border: 1px solid $grayLight;
    border-radius: 3px;
    transition: 1s;
}

.btn-gray, .btn-white {
    background-color: transparent;
}

.btn-gray:hover {
    cursor: pointer;
    background-color: $buttonGallery;

    transition: 1s;
}

.btn-white:hover {
    cursor: pointer;
    background-color: $white;
    transition: 1s;
}