footer {
    @include flexMix(flex, center, center);
    @extend %col;
    height: 25vh;
    border-top: 1px solid $grayLight;

    .footer-icons {
        display: flex;
        @extend %row;

        img {
            width: 40px;
            padding: 0.5rem;
            border: 1px solid $grayLight;
            border-radius: 50%;
            transition: 1s;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    .circle-icon {
        cursor: pointer;
        padding: 0 0.3rem;
    }

    p {
        margin-top: 1rem;
    }
    
}



@media (min-width: 600px) and (max-width: 849px) {
}

@media (min-width: 399px) and (max-width: 599px) {
    footer {    
        height: 20vh;

        .footer-icons {
            img {
                width: 35px;
            }
        }
    }
}