.section-road {
    display: flex;
    height: 600px;
    border-bottom: 1px solid $grayLight;

    .text-road, .bg-road {
        width: 50%;
    }

    /* Текст блока road */
    .text-road {
        @include directionFlex(flex, center, column);
        padding: 0 5rem;
        text-align: justify;

        h1 {
            margin: 0;
            padding-bottom: 1rem;
            font-weight: normal;
            font-size: 2.5rem;
        }

        div  {
            p:first-of-type {
                margin: 0;
                font-size: 1.1rem;
            }
            
            p:last-of-type {
                margin-bottom: 1.5rem;
                font-size: 1rem;
            }
        }
    }

    /* Фон блока road */
    .bg-road {
        height: 600px;
        background-image: url(../assets/img/koster.jpeg);
        background-size: cover;
        filter: brightness(0.8);
    }
}



@media (min-width: 600px) and (max-width: 849px) {
    .section-road {
        height: 500px;

        .text-road, .bg-road {
            height: 500px;
        }
    
        .text-road {
            padding: 0 2.5rem;

            h1 {
                font-size: 2rem;
            }

            div {
                p:first-of-type, p:last-of-type {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 440px) and (max-width: 599px) {
    .section-road {
        height: 800px;
        flex-direction: column-reverse;

        .text-road, .bg-road {
            width: 100%;
            height: 400px;
        }

        .text-road {
            padding: 0 3rem;

            h1 {
                font-size: 2rem;
            }

            div {
                p:first-of-type,  p:last-of-type {
                    font-size: 1rem;
                }
            }
        }
    }
}